.btn-download-musik2{
    display: flex;
    flex-direction: column;
    margin-left: 1110px;
    margin-top: -1900px;
    gap: 149px;
}
.block-section6{
    height: 1870px;
    width: 1376px;
    background-color: #0C0C0C;
    margin: 150px 100px 0px 100px;
}