.body-musik-page1{
    width: 1576px;
    height: 3400px;
    background-color: black;
}
.foto-collage-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 333px 0px 0px 0px;
}
.foto-collage-style1{
    margin: -380px 0px 0px 769px;
}
.ikson-text-block{
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
    display: flex;
    justify-content: start;
    text-align: left;
    padding: 0px 800px 90px 80px;
    margin-top: -300px;
    line-height: 2;
}
.btn-download-musik1{
    display: flex;
    flex-direction: column;
    margin-left: 1110px;
    margin-top: -2320px;
    gap: 149px;
}
.block-section5{
    height: 2250px;
    width: 1376px;
    background-color: #0C0C0C;
    margin: 150px 100px 0px 100px;
}